.cover {
    margin: 250px;
    padding: 0;
    border: 5px solid rgb(18, 111, 154);
    font-family: arial,"lucida grande",verdana,helvetica,sans-serif;
    font-weight: 600;
}

.title {
    font-size: 42px
}

.info {
    font-size: 36px
}

img {
    height: 48px;
    margin-bottom: 42px
}