<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <body>
        <table border="2" summary="Upcoming class events for the week" class="calendarTable">
            <tr>
                <th>Mon.22</th>
                <th>Tue.23</th>
                <th>Wed.24</th>
                <th>Thu.25</th>
                <th>Fri.26</th>
                <th>Sat.27</th>
                <th>Sun.28</th>
            </tr>
            {% if Weekdays %}
                <tr>
                    {% for day in Weekdays.keys() %}
                    <td>
                        <ul>
                            {% for event in Weekdays[day] %}
                                <li> {{ event.summary }} </li>    
                            {% endfor %}            
                        </ul>
                    </td>
                    {% endfor %}
                </tr>
            {% endif %}
        </table>
    </body>
</html>
